
<form action="/Login/Giris" method="post">
    <div class="form-group">
        kullanici Ad: <input type="text" name="kullaniciAd" class="form-control" />
        Sifre : <input type="text" name="sifre" class="form-control" />

        <button class="btn btn-success" type="submit">Giris</button>
    </div>
</form>

